body {
  margin : 0 auto;
}
.page{
}
.section{
  background: linear-gradient(0deg, #d6d6d6, #e2e2e2);
  min-height: 200px;
  display: flex;
  justify-content: center;
}
.content {
  max-width: 1024px;
  margin: 0 -1em;
}